.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    padding: 0;
    background-color: #e3dbdb;
}
 
.nav-flex-row li {
    list-style-type: none;
    padding: 5px 20px;
}
 
.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color:DarkBlue;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 50;
    font-size: xx-large;
}
.nav-flex-row li a:hover{
    background: #c3bbbc;
}
 
.section-intro {
    height: 800px;
    background-image: url("/Images/ecom.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: left;
    
}
 
.section-intro h1 {
    height: 550px;
    text-align: center;
    color: #400080;
    font-size: 3em;
    font-weight: 300;
}
 


 
   
 
   

 

