body{
    background-color: rgb(249, 240, 240);
}
.main-background{
    background-image:url("/Images/Banner/banner1.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 6%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 15px; */
}

.shopnow-btn{
    padding: 11px;
    text-decoration: none;
    margin-right: 45%;
    display: flexbox;
    text-align: center;
    font-weight: 300;
    background-image: linear-gradient(to right, rgb(0, 255, 98) , rgb(0, 213, 255));
    /* background-color: rgb(200, 120, 120); */
    width: 23%;
    border-radius: 15px;
    color: rgb(251, 248, 248);
    font-size: 2.5rem;
    margin-top: 12%;
}
.products-type{
    padding: 3rem 7%;
}

.products-type h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}

.main-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.inner-product{
    flex: 1 1 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inner-product img{
    width: 100%;
}
.inner-product a{
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 80%;
    padding: 1rem 3rem;
    background-image: linear-gradient(to right, rgb(0, 255, 98) , rgb(0, 213, 255));
    /* background-color: rgb(215, 20, 20); */
    color: #eceff1;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 10px;
    z-index: 1000000;
}
.inner-banner{
    flex: 1 1 45rem;
}
.inner-banner img{
    width: 110%;
}

.inner-banner a{
    padding: 1rem 3rem;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(0, 255, 98) , rgb(0, 213, 255));
    color:white;
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
    position: absolute;
    margin-top: 24%;
    margin-left: 25%;
    border-radius: 15px;
}

   

 

