body {
  background-image:url("/Images/Banner/b4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height:60vh ;
  }

input[type=text],
input[type=password] {
  width: 70%;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
h1{
  text-align: center;
}


/* #button:hover {
  background: rgb(188, 234, 148);
} */

.container {
  padding: 15px;
  margin-left: 3rem;
}

.SignUp {
  text-decoration-color: aliceblue;
  float: right;
  padding: 1px 10px 3px 10px;
  /* background-color: hsl(215, 72%, 48%); */
}

#form {
  margin: 220px 0px 0px 148px;
  border-radius: 30px;
  padding: 10px 2px;
  width: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Images/Banner/c1.webp");
  /* background-image: url("/Images/bg/pink.jpg"); */
}
input:focus:invalid { 
  outline: none !important;
  border-color: hsl(5, 74%, 55%);
  box-shadow: 0 0 10px #719ECE;
  margin-left: 20px;
}

/* input:focus:valid{ 
  outline: none !important;
  border-color: hsl(81, 77%, 47%);
  box-shadow: 0 0 10px #719ECE;
  accent-color: gold;
} */

button:enabled{
  background-color: #9fe73a;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 10px;
  margin-left: 50px;
  cursor: pointer;
  width: 45%; 
}

button:disabled{
  background-color: #9fa09d;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  margin-left: 50px;
  border-radius: 10px;
  width: 45%;

}

input:focus:valid:enabled{ 
  outline: none !important;
  border-color: hsl(81, 77%, 47%);
  box-shadow: 0 0 10px #719ECE;
  accent-color: gold;
}

span{
  font-size: 12px;
  padding: 2px;
  color:rgb(26, 45, 170);
  display: none;
}

/* input:invalid:disabled{
  display:block;
  
} */