body {
background-image:url("/Images/bg/bg2.jpg");
background-size: cover;
}

input[type=text],
input[type=password] {
  width: 70%;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
h1{
  text-align: center;
}

#button {
  background-color: #9fe73a;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 25%;
}

#button:hover {
  background: rgb(188, 234, 148);
}

#cancel{
  text-Decoration: None;
  background-color: red;
  text-decoration: none;
}

.container {
  padding: 16px;
}

.SignUp {
  text-decoration-color: aliceblue;
  float: right;
  padding: 1px 10px 3px 10px;
  /* background-color: hsl(215, 72%, 48%); */
}

#form {
  margin: 150px 0px 0px 500px;
  border-radius: 30px;
  padding: 10px 20px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Images/bg/pink.jpg");
}