body {
background-image:url("/Images/bg/bg2.jpg");
background-size: cover;
}

input[type=text],
input[type=password] {
  width: 70%;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
h1{
  text-align: center;
}


/* #button:hover {
  background: rgb(188, 234, 148);
} */

#cancel{
  text-Decoration: None;
  background-color: red;
  width: 16px;
  height: 1px;
  padding: 25px;
}

.container {
  padding: 16px;
}

.SignUp {
  text-decoration-color: aliceblue;
  float: right;
  padding: 1px 10px 3px 10px;
  /* background-color: hsl(215, 72%, 48%); */
}

#form {
  margin: 150px 0px 0px 500px;
  border-radius: 30px;
  padding: 10px 20px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Images/bg/pink.jpg");
}
input:focus:invalid { 
  outline: none !important;
  border-color: hsl(5, 74%, 55%);
  box-shadow: 0 0 10px #719ECE;
}

input:focus:valid{ 
  outline: none !important;
  border-color: hsl(81, 77%, 47%);
  box-shadow: 0 0 10px #719ECE;
  accent-color: gold;
}

button:enabled{
  background-color: #9fe73a;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 25%; 
}

button:disabled{
  background-color: #9fa09d;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 10px;
  width: 25%;

}

input:focus:valid:enabled{ 
  outline: none !important;
  border-color: hsl(81, 77%, 47%);
  box-shadow: 0 0 10px #719ECE;
  accent-color: gold;
}

span{
  font-size: 12px;
  padding: 2px;
  color:rgb(26, 45, 170);
  display: none;
}

input:invalid:disabled{
  display:block;
  
}