
.container form{
  border-radius: 20px;
  width: 40%;
  height: 70vh;
  text-align: center;
  margin-top: 10%;
  margin-left: 30%;
  padding: 5px;
  background-image: url("/Images/bg/pink.jpg");
  background-repeat: no-repeat;
}

.container label{
  margin-top: 5%;
  /* margin-left: 10%; */
  font-size: large;
  font-weight: 600;

}
.container input{
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 10px;
}

.submit-btn{
margin-top: 40px;
width: 150px;
height: 6vh;
font-weight: 500;
border-radius: 10px;
color:rgb(223, 232, 223);
background-color: rgba(105, 211, 215);
}

.submit-btn:hover:enabled{
  background-color: #a5c827;

}
