.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: blue;
    /* background-image: url("/Images/ecom.png"); */
}

 #form {
    border-radius: 60px;
    padding: 40px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/Images/Glass.png");
    box-shadow: 0 50px 10px rgba(207, 69, 69, 0.1);
    align-content: center;
}

#box{
    width:300px;
    height:30px;
    border-radius: 10px;
    margin:10px 0px 2px 3px ;
}

#Reg
{
background-color: rgb(100, 197, 233);
padding:10px;
width:150px;
border-radius: 100px;
transition: width 2s;
cursor: pointer;
margin-top: 20px;
margin-left: 150px;
margin-bottom: 60px;
}

#Reg:hover
{
    background: rgb(96, 180, 23);
}
