body{
    background-image:url("/Images/bg/bg2.jpg");
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

 #form {
    margin-left: 3rem;
    border-radius: 50px;
    padding: 50px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/Images/bg/bg2.jpg");
    text-decoration: none;

}

.box{
    width:300px;
    height:35px;
    border-radius: 10px;
    margin:5px 0px 0px 0px ;
}

#Reg
{
background-color: rgb(100, 197, 233);
padding:10px;
width:150px;
border-radius: 100px;
cursor: pointer;
margin-top: 15px;
margin-left: 120px;
margin-bottom: 60px;
}

#Reg:hover:enabled
{
    background: #9fde69;
}


input:focus:invalid { 
    outline: none !important;
    border-color: hsl(5, 74%, 55%);
    box-shadow: 0 0 10px #719ECE;
  }
  
  input:focus:valid{ 
    outline: none !important;
    border-color: hsl(81, 77%, 47%);
    box-shadow: 0 0 10px #719ECE;
    accent-color: gold;
  }

 span{
    font-size: 12px;
    padding: 2px;
    color:rgb(26, 45, 170);
    display: none;
 }

 input:invalid ~ span{
    display:block;
 }

 
