body{
  background-image:url("/Images/bg/bgg1.jpg");
  background-size: cover; 
   }

   h1{
    text-align: center;
    color:rgb(15, 6, 15)
  }
    
    .container{
    width:100%;
    padding: 30px;
    display:flex;
    flex-direction:row;
    justify-content:center;

    }
    
    .box{
    width:250px;
    margin:0 10px;
    box-shadow:0 0 20px 2px rgba(60, 39, 39, 0.1);
    transition:1s;
    }


    .box img{
    display:block;
    width:100%;
    height:100%;
    border-radius:20px;
    }
    
    .box:hover{
    transform:scale(1.3);
    }
    
    .topnav{
    background-color:hsl(213, 22%, 67%);
    border-radius:0px;
    height:30px;
    justify-content:space-around;
    margin-top:10px;
    margin-left:80%;
    display:flex;
    
        
    }
    .overlay {
      border-radius:10px;
      position:static;
      bottom: 0;
      background: rgba(52, 129, 230, 0.5); /* Black see-through */
      width: 98%;
      color: rgb(242, 234, 234);
      font-size: 25px;
      padding: 10px;
      text-align:center;
      
    }
    
    .container:hover .overlay {
      opacity: 1;
    }

   