.product-container {
  background-image: url("../../public/Images/bg/gradient.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
}
.product-rating {
  background-color: green;
  color: #ffffff;
  padding: 1px;
  width: 47px;
  border-radius: 4px;
}
.detail-container {
  width: 70%;
  margin-left: 200px;
  margin-top:50px
}
.items-details {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}

.items_img img {
  width: 20rem;
  flex: 0.6;
  border-radius: 5px;
}
.details {
  flex: 0.6;
  font-size: 18px;
  color: white;
}
.detail_size{
  font-size: large;
  font-weight: 700;  
  padding: 20px;
  text-align: left;
  margin:10px;
}
.quantity_button{
  justify-content: space-between;
  margin-top: 50px;
  margin-left:40px;
  font-size: large;
  align-items: center;
  width: 30%;
  cursor:pointer;
  color: #111;
}
.quantity_size{
  font-size: 31px;
}


