.cate{
  background-image:url("../../public/Images/bg/bgg1.jpg");
  background-size: cover;   
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100vh;
 }

  h1{
    text-align: center;
    color:rgb(15, 6, 15)
  }
    
    .container2{
    width:100%;
    padding: 30px;
    display:flex;
    flex-direction:row;
    justify-content:center;

    }
    
    .category{
    width:250px;
    margin:0 10px;
    box-shadow:0 0 20px 2px rgba(60, 39, 39, 0.1);
    transition: 3s;
    }

    .category img{
    display:block;
    width:100%;
    height:100%;
    border-radius:20px;
    }
    
    .category:hover{
    transform:scale(1.1);
    }

    .overlay1 {
      border-radius:10px;
      position:static;
      bottom: 0;
      background: rgba(52, 129, 230, 0.5); /* Black see-through */
      width: 98%;
      color: rgb(242, 234, 234);
      font-size: 25px;
      padding: 10px;
      text-align:center;
      
    }
    
    

   