.side-nav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("../../public/Images/bg/pink.jpg");
  overflow-x: hidden;
  padding-top: 20px;
  margin-top:50px;
}
.side-nav button{
  width:150px;
  border-radius: 9px;
  margin-top: 5px;
  margin-bottom: 2px; 
  margin-left: 30px;
  color: #fefafa;
  font-size: 15px;
  background: rgba(9, 99, 215, 0.5); /* Black see-through */
}

.main{
  margin-left: 200px; /* Same as the width of the sidenav */
}  

.card_style {
  cursor: pointer;
  transition: 0.3s;
  width: 23rem;
  border: black;
  border-radius: 15px;
  margin:10px 20px 30px 20px;

}
.card_img{
  height:15rem;
  margin-top: 25px;

}

.card_style:hover {
  box-shadow: #8fb364;
}


  
 

