.paymentform {
  border-radius: 30px;
  width: 30%;
  text-align: center;
  margin-top: 8%;
  margin-left: 30%;
  padding: 5px;
  background-image: linear-gradient(rgb(205, 150, 210), rgb(202, 190, 145));
  background-repeat: no-repeat;
}
.paymentform input {
  margin-top: 1%;
  margin-right: 9%;
  border-radius: 10px;
}

.paymentform label{
  margin-right:50%;
  display: block;
  font-weight: 700;
}
.submit-button {
  margin-top: 30px;
  width: 150px;
  height: 6vh;
  font-weight: 500;
  border-radius: 10px;
  color: rgb(223, 232, 223);
  background-color: rgb(73, 164, 113);
}
.submit-button:hover:enabled {
  background-color: #c08134;
}
