.signup {
  background-image: url("../../public/Images/Banner/b4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

#signup-form {
  margin-right: 44rem;
  border-radius: 30px;
  padding: 10px;
  width: 490px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/Images/Banner/c1.webp");
}

#signup-form FormInput {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  margin: 0px 0px 0px 4px;
  display: inline;
}

#signup-button {
  background-color: rgb(100, 197, 233);
  padding: 10px;
  width: 150px;
  border-radius: 100px;
  cursor: not-allowed;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 60px;
}

#signup-button:hover:enabled {
  background: #9fde69;
  cursor: pointer;
}
#signup-button:enabled{
  padding: 10px;
  width: 150px;
  border-radius: 10px;
}

#signup-form input:invalid {
  margin-left: 50px;
  outline: none;
  border-radius: 80px;
  width: 65%;
  height: 4.5vh;
  border-color: hsl(9, 73%, 50%);
  box-shadow: 0 0 10px #719ece;
}

#signup-form input:valid {
  margin-left: 50px;
  outline: none;
  width: 65%;
  height: 4.5vh;
  border-radius: 80px;
  border-color: hsl(81, 77%, 47%);
}

span {
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  color: rgb(8, 28, 101);
  display: none;
  margin-left: 50px;
}

input:invalid ~ span {
  display: block;
}
h1 {
  text-align: center;
}

#signup-form label {
  margin-left: 50px;
  margin-top: 15px;
  display: block;
  font-weight: 600;
}