 body{
  background-image: url("../../public/Images/bg/gradient.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  text-decoration: none;
}

.checkout {
  padding: 10px;
  background-color: #48c5c3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-left: 100%;
  width: 80%;
}
.checkout:hover {
  background-color: rgb(89, 95, 89);
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0%;
  color: rgb(240, 248, 255);
  background-color: black;
}

.nav1 {
  margin-left: 5%;
  margin-top: 15px;

}

.layout1 {
  border-radius: 10px;
  background: rgba(59, 138, 241, 0.5); /* Black see-through */
  width: 18%;
  color: rgb(9, 9, 9);
  font-size: 20px;
  padding: 1px;
  height: fit-content;
  text-align: center;
  margin: 50px 25px 0px 50px;
}

.rating1{
  width: 2.5rem;
  height: 1.5rem;
  font-size: 15px;
  background-color: green;
  border-radius: 3px;
  color: aliceblue;
  text-align: center;
  margin-top: 10px;
}

.row{
  margin-top: 40px;
  margin-left: 55px;
}

.button_div{
justify-content: center;
}

.shopping-cart{
  font-size: 28px;
  color: white;
  cursor: pointer;

}

.link-color{
  color:white;
  padding: 20px;
  margin-right:20px;
}

.link-color:hover{
  color: rgb(117, 133, 80);
}

.cart_details{
  width: 55rem;
  padding: 40px;
}
hr{
  width:390%
}
.cart_image{
  width:8rem;
}

.trash_button{
  color: red;
  font-size: 22px;
  cursor: pointer;
}

thead th{
  font-weight:200%;
  font-size: large;
}

.card_details{
  justify-content: center; 
  align-items: center;
  font-size: 20px;
  width: 24rem;
  padding: 10;
  position: relative;
}

.close_button{
  position: absolute;
  top: 2px;
  right: 20px;
  font-size: 23px;
  cursor:pointer;
}

.not_found{
  width:100%;
}

.navbar NavLink{
  font-weight: bold;
}