body {
  background-image: url("../../public/Images/bg/bgg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.card_style {
  cursor: pointer;
  transition: 0.3s;
  width: 23rem;
  border: black;
  border-radius: 15px;
  margin:10px 20px 30px 20px;

}
.card_img{
  height:15rem;
  margin-top: 20px;

}

.card_style:hover {
  box-shadow: #8fb364;
}

.checkout {
  padding: 10px;
  background-color: #48c5c3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-left: 100%;
  width: 80%;
}
.checkout:hover {
  background-color: rgb(44, 235, 66);
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0%;
}

.nav1 {
  margin-left: 5%;
  margin-top: 15px;

}

.layout1 {
  border-radius: 10px;
  background: rgba(59, 138, 241, 0.5); /* Black see-through */
  width: 18%;
  color: rgb(9, 9, 9);
  font-size: 20px;
  padding: 1px;
  height: fit-content;
  text-align: center;
  margin: 50px 25px 0px 50px;
}

.rating1{
  width: 2.5rem;
  height: 1.5rem;
  font-size: 15px;
  background-color: green;
  border-radius: 3px;
  color: aliceblue;
  text-align: center;
  margin-top: 10px;
}

.product-container{
  margin-left: 55px;
  margin-bottom:10px;
}

.row{
  margin-top: 40px;
  margin-left: 55px;
}

.button_div{
justify-content: center;
}